* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #111827;

  color: white;
}

.container {
  width: 90%;
  max-width: 450px;
}

.counter-card {
  background: #1f2937;

  padding: 40px;

  border-radius: 20px;

  text-align: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.description {
  margin-bottom: 30px;
  color: #9ca3af;
}

.counter-display {
  margin-bottom: 20px;
}

#count {
  font-size: 6rem;
  font-weight: bold;

  transition: color 0.3s ease;
}

#status-message {
  margin-bottom: 25px;
  font-size: 1rem;

  color: #d1d5db;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;

  margin-bottom: 30px;
}

button {
  border: none;

  padding: 14px 24px;

  border-radius: 12px;

  cursor: pointer;

  font-size: 1rem;
  font-weight: bold;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

button:hover {
  transform: translateY(-3px);
}

button:disabled {
  grayscale: 1;
  opacity: 0.5;
  cursor: not-allowed;
}

#increase-btn {
  background: #10b981;
  color: white;
}

#decrease-btn {
  background: #ef4444;
  color: white;
}

#reset-btn {
  background: #3b82f6;
  color: white;
}

.progress-wrapper {
  width: 100%;
  height: 14px;

  background: #374151;

  border-radius: 999px;

  overflow: hidden;

  margin-bottom: 20px;
}

.progress-bar {
  width: 60%;
  height: 100%;
  background: red;
  transition: width 0.3s ease;
}

.limits {
  display: flex;
  justify-content: space-between;

  color: #9ca3af;

  font-size: 0.9rem;
}

/* DYNAMIC COUNT COLORS */

.positive {
  color: #10b981;
}

.negative {
  color: #ef4444;
}

.neutral {
  color: white;
}
